<div class="container">
    <!-- <div class="container"> -->
    <div class="title">

      <h1>Find The Tools You Need</h1>



<%= form_tag tools_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a tool"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class="cards">

            <% @tools.each do |tool| %>
            <div class="firstimage">
                <%= image_tag tool.picture %>
                <div class="description">
                    <div class="product">
                        <p>
                            <%= link_to tool.name, tool_path(tool) %>
                        </p>
                    </div>
                    <div class="price">
                        <p>$
                            <%= tool.price_by_day %> /day</p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>



