<h1>All Tools</h1>
<% @tools.each do |tool| %>
     <%= tool.name %>
     <%= tool.details %>
     <%= tool.category %>
     <%= tool.price_by_day %>
     <%= tool.picture %>
     <%= link_to"see details", tool_path(tool) %>
     <% end %>

