<% if notice %>
<p id="notice">
  <%= notice %>
</p>
<% end %>

<div class="brown">
  <h1>All The Information About :</h1>
  <br>
    <h12>  <%= link_to " 🔙 ", tools_path %></h12>
  <br>
  <div class="container">

    <div class="row1">
      <div class="image-ustensil">
        <%= image_tag @tool.picture, alt: "Responsive image", class: "img-fluide"%>
        <br>
         <%= render "bookings/form",  booking:@booking, tool:@tool %>
        <br>
        <!-- <button type="button" class="btn btn-secondary btn-lg">
          <%= link_to "Book your tool", new_tool_booking_path(@tool) %> -->

          </div>
          <div class="col-8">
            <div class="surnom">
              <h9 class="text-sm-left"><%= @tool.name %></h9>
            </div>
            <div class="cat">
              <h4 class="text-sm-left"><%= @tool.category %></h4>
            </div>
            <br>
            <div class="details">
              <p class="text-sm-left">
                <%= @tool.details %>
              </p>
            </div>
            <br>

            <h2 class="text-sm-left">
                <%= @tool.price_by_day %> €</h2>
        </div>
        <div class="col-2">
            <h4 class="text-center">Location</h4>
            <strong>
                <p class="text-center">
                    <%= @tool.address %>
                </p>

            </strong>
<!-- map -->
            <div id="map" style="width: 400px; height: 400px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>





        </div>
      </div>
    </div>
</div>
