<div class="container">
  <div class="form-wrapper">
    <h1>Book a tool</h1>
    <h2>please take a date for:</h2><%= @tool.name%>
    <%= simple_form_for [@tool, @booking] do |f| %>
      <%= f.input  :start_date, as: :string, required: false, input_html: {id: "range_start"} %>
      <%= f.input  :end_date,   as: :string, required: false, input_html: {id: "range_end"} %>
      <%= f.button :submit, "Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>



<div
  id="booking-form-div"
  data-bookings="<%= @bookings_dates.to_json %>"
>


